
build/android-profile/profile-2018-11-07-18-12-10-629.json
build/android-profile/profile-2018-11-07-18-12-10-629.rawproto
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/javaCompile/taskHistory.bin
